set default=0
set timeout=7

menuentry "The Linux Journal Kernel" {
        multiboot /boot/kernel root=/dev/sda1 console=ttyS0
}

menuentry "The Linux Journal Kernel (recovery)" {
        multiboot /boot/kernel root=/dev/sda1 console=ttyS0 single
}